img {
  height: 100px;
}
nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}

@media screen and(max-width:400px) {
  nav,
  img {
    display: none;
  }
}
